body {
    font-family: 'HelveticaNeueCyr';
}
.top-bar {
    background-color:#000000;
}
.top-bar__items {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 32px;
}
.top-bar__items a {
    color: #FFFFFF;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
    margin-bottom: -76px;
}
.header__navbar {
    z-index: 2;
}
.header__navbar ul {
    display: flex;
    gap: 29px;
}
.header__navbar li {
    text-transform: uppercase;
    margin-right: 28px;
    position: relative;
}
.header__navbar a {
    color: #FFFFFF;
    font-weight: 500;
}
.header__navbar li.active::before {
    content: url('../img/Slash Graphic.png');
    color: #02D1FF;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: -7px;
    left: -15px;
}
.header-transparent img {
    z-index: 2;
    margin-left: 32px;
}
.preview__maim-img {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
}
.preview {
    height: 900px;
    position: relative;
}
.previev__rectangle {
    width: 630px;
    height: 100%;
    background-color: #0F0E0E;
    clip-path: polygon(0% 0%, 100% 0%, 65% 100%, 0% 100%);
    position: absolute;
}
.preview__text {
    position: relative;
    width: 612px;
    padding-top: 257px;
    margin-left: 40px;
}
.preview__title {
    font-family: 'Fiorello CG Condensed';
    font-size: 80px;
    font-weight: 400;
    color: #FFFFFF;
    text-transform: uppercase;
}
.preview__watch-more  {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
     margin-top: 64px;
}
.preview__watch-more a {
    color: #FFFFFF;
}
.preview__watch-more img {
    margin-left: 11px;
}
.preview__learn-more  {
   text-transform: uppercase;
    font-weight: 500;
    margin-top: 191px;
}
.preview__learn-more a {
    color: #F9F9F9;
}
.services-tab {
    background-color: #171717;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.content-center {
    max-width: 1248px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 125px;
    padding-bottom: 128px;
    gap: 10vw;
}
.tab button.active::before {
    content: url('../img/Slash Graphic-2.png');
    position: absolute;
    top: -7px;
    left: -35px;
}
/* Стиль табуляции */
.tab {
    max-width: 417px;
    
}
/* Стиль кнопок внутри вкладок */
.tab button {
    font-family:'Fiorello CG Condensed' ;
    font-weight: 400;
    font-size: 56px;
    text-transform: uppercase;
     display: block;
    background-color: inherit;
    color: #FFFFFF;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
}
/* Изменение цвета фона кнопок при наведении курсора мыши */
.tab button:hover {
    /* background-color: #ddd; */
}
/* Создание класса активной/текущей "вкладки кнопки" */
.tab button.active {
     /* background-color: #ccc; */
}
/* Стиль содержимого вкладки */
.tabcontent {
    display: none;
    color: #FFFFFF;
    padding: 0px 12px;
    position: relative;
    border-left: none;
    min-height: 610px;
    align-items: center;
}
.tabcontent p {
    max-width: 580px;
    position: relative;
    font-family:'HelveticaNeueCyr';
    font-weight: 500;
    font-size: 40px;
}
.services-tab__rectangle {
    position: absolute;
    display: flex;
}
.services-tab__rectangle-left {
    width: 243px;
    height: 518.45px;
    margin-top: 98px;
    margin-right: -43px;
    clip-path: polygon(30% 10%, 100% 0%, 70% 90%, 0% 100%);
}
.services-tab__rectangle-right {
    width: 243px;
    height: 518.45px;
    clip-path: polygon(30% 10%, 100% 0%, 70% 90%, 0% 100%);
}
.services-tab__wrapper {
    display: flex;
    gap: 133.5px;
    flex-wrap: wrap;
}
.services-tab__wrapper-column {
    width: 327px;
}
.services-tab__wrapper-column h2 {
    font-family:'Fiorello CG Condensed';
    font-weight: 400;
    font-size: 36px;
    color: #F9F9F9;
    padding-bottom: 20px;
}
.services-tab__wrapper-column p{
    font-family:'HelveticaNeueCyr';
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}
.big-title { 
    background-color: #171717;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
.big-title__main {
    display: flex;
    gap: 2vw;
    padding-top: 128px;
    padding-bottom: 48px;
}
.big-title h1 {
    font-family: 'Fiorello CG Condensed';
    font-weight: 400;
    font-size: 140px;
    line-height: 140px;
    text-transform: uppercase;
}
.big-title__white-title {
    color: #F9F9F9;
    min-width: 521px;
}
.big-title__black-title {
    color: #0F0E0E;
    min-width: 521px;
}
.big-title__text {
    max-width: 825px;
    font-family: 'HelveticaNeueCyr';
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    color: #F9F9F9;
}
.big-title__content-center {
    /* max-width: 1248px; Почему не могу выбрать макс? указала макс в адаптиве*/ 
    position: relative;
    width: 1248px;
}
.big-title__black-title-main {
    display: flex;
    position: absolute;
    left: 521px;
}
.sliders {
    background-color: #171717;
    display: flex;
    justify-content: center;
}
.sliders__content-center {
    width: 1248px;
    padding-bottom: 128px;
    /* position: relative; */
}
.sliders__main {
    position: relative;
    margin-top: 64px;
    margin-bottom: 64px;
}
.sliders__content-center img {
    position: absolute;
}
.sliders__rectangle {
    width: 770px;
    height: 645px;
    display: flex;
    align-items: center;
    background: linear-gradient(129.07deg, rgba(30, 224, 251, 0.8) 18.88%, rgba(237, 22, 227, 0.8) 92.67%);
    clip-path: polygon(0% 0%, 100% 0%, 83% 100%, 0% 100%);
}
.sliders__rectangle-text {
    padding-left: 80px;
}
.sliders__rectangle-title {
    max-width: 484px;
    font-family: 'Fiorello CG Condensed';
    font-weight: 400;
    font-size: 56px;
    line-height: 56px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.sliders__rectangle-watch-more  {
    font-family: 'HelveticaNeueCyr';
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 32px;
}
.sliders__rectangle-watch-more a{
    color: #FFFFFF;
}
.sliders__rectangle-watch-more img {
    margin-left: 11px;
}
.sliders__text {
    max-width: 825px;
    font-family: 'HelveticaNeueCyr';
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    color: #F9F9F9;
    padding-bottom: 64px;
    padding-top: 64px;
}
.sliders__rectangle-black{
    background: rgba(0, 0, 0, 0.8);
}
.sliders__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding-top: 64px;
    padding-bottom: 40px;
}
/* .sliders__wrapper img {
    height: 100%;
} */
.sliders__wrapper-item {
    width: 608px; 
    height: 524px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
} 
.sliders__wrapper-rectangle {
    width: 136.15px;
    height: 198.76px;
    background: linear-gradient(129.07deg, #1EE0FB 18.88%, #ED16E3 92.67%);
    clip-path: polygon(30% 0%, 100% 0%, 70% 100%, 0% 100%);
    opacity: 0.7;
    visibility: hidden;
}
.sliders__rectangle-and-title p {
    position: absolute;
    font-family: 'Fiorello CG Condensed';
    font-weight: 400;
    font-size: 56px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    top: 64px;
    color: #FFFFFF;
}
.sliders__transparent {
    max-width: 608px; 
    height: 524px;
    background-color: #000000;
    opacity: 0.7;
}
.sliders__rectangle-and-title {
    position: absolute;
    Width: 350px;
    height: 198.76px;
    display: flex;
    justify-content: center;
}
.sliders__wrapper-item-mini {
    width: 394px;
    height: 316px;
} 
.contact-us {
    background-color: #02D1FF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contact-us__title {
    font-family: 'Fiorello CG Condensed';
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 60px;
    padding-top: 60px;
}
.contact-us__button {
    font-family: 'HelveticaNeueCyr';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #000000;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
}
.news {
    background-color: #171717;
    display: flex;
    justify-content: center;
}
.news__content-center {
    width: 1248px;
    padding-top: 128px;
    position: relative;
}
.news h1 {
    font-family: 'Fiorello CG Condensed';
    font-weight: 400;
    font-size: 140px;
    line-height: 140px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.black-rectangle-sliders {
    position: absolute;
    right: 0;
    height: 100%;
}
.sliders__black-rectangle {
    width: 636px;
    height: 646px;
    display: flex;
    flex-direction: column;
    background: #000000;
    clip-path: polygon(0% 0%, 100% 0%, 83% 100%, 0% 100%);
}
.sliders__rectangle-category {
    font-family: 'HelveticaNeueCyr';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 40px;
    padding-top: 24px;
    padding-bottom: 109px;
}
.sliders__rectangle-main-text {
    max-width: 460px;
    font-family: 'HelveticaNeueCyr';
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.black-rectangle-sliders-text {
    padding-left: 40px;
}
/* .main-text-width {
    width: 825px;
} */
.small-text {
    font-family: 'HelveticaNeueCyr';
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #E0E0E0;
}
.wrapper-logo {
    display: flex;
    gap: 148px;
    flex-wrap: wrap;
    padding-bottom: 128px;
}
.wrapper-logo-item {
    width: ;
}
.contact-us__tittle-and-text {
    display: flex;
    align-items: center;
}
.contact-us__text {
    font-family: 'HelveticaNeueCyr';
    font-weight: 400;
    font-size: 26px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
    margin-left: 32px;
}
.contact-us__content-center {
    width: 1248px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer {
    background-color: #000000;
    padding-top: 64px;
    display: flex;
    justify-content: center;
}
.footer__content-center {
    width: 1248px;
    /* display: flex;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 128px; */
}
.footer__main {
    display: flex;
    width: 719px;
    justify-content: space-between;
}
.footer__navbar ul {
    display: flex;
    flex-direction: column;
}
.footer__main a{
    font-family: 'HelveticaNeueCyr';
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 40px;
}
.footer__social-media img {
    margin-right: 12px;
}
.footer__links-elem img {
    margin-left: 13px;
}
.footer__copyrght {
    font-family: 'HelveticaNeueCyr';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: rgba(255, 255, 255, 0.6);
    padding-bottom: 64px;
    padding-top: 64px;
}
.footer__logo-and-menu {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 128px;
}
.swiper-button-next, .swiper-button-prev {
    width: 62px;
    height: 62px;
}
.swiper-button-next {
    background-color:#02D1FF;
    color: #FFFFFF;
}
.swiper-button-prev {
    background-color: #FFFFFF;
    color: #878A8B;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 0;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: auto;
    right: 62px;
}
.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 86.5%;
}
/* .case-study-detail__content-center .swiper-button-next {
    top: 94.5%;
} */
.swiper-rtl .swiper-button-prev:after {
    content: 'img/Vector (10).png';
}
.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 16px;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: url('../img/Vector (10).png');
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: 'prev';
    content: url('../img/Vector (12).png');
}
.header-black{
    background-color: #000000;
    margin-bottom: 0;
}
.preview-service-listing {
    height: 588px;
}
.preview__text-service-listing {
    padding-top: 165px;
}
.previev__rectangle-service-listing {
    clip-path: polygon(0% 0%, 90% 0%, 65% 100%, 0% 100%);
}
.service-listing-text-block__text {
    width: 825px;
}
.service-listing-text-block {
    display: flex;
    justify-content: center;
    background-color: #171717;
    padding-top: 128px;
    padding-bottom: 124px;
}
.service-listing-text-block__text-big {
    font-family: 'HelveticaNeueCyr';
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.service-listing-text-block__text-small {
    font-family: 'HelveticaNeueCyr';
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding-top: 24px;
}
.service-listing__rectangle {
    /* position: absolute; */
    display: flex;
}
.service-listing__rectangle-left {
    width: 183px;
    height: 348px;
    margin-top: 70px;
    margin-right: -33px;
    /* clip-path: polygon(30% 10%, 100% 0%, 70% 90%, 0% 100%); */
}
.service-listing__rectangle-right {
    width: 183px;
    height: 348px;
    /* clip-path: polygon(30% 10%, 100% 0%, 70% 90%, 0% 100%); */
}
.service-listing__services {
    background-color: #171717;
    display: flex;
    justify-content: center;
}
.service-listing__content-center {
    width: 1248px;
}
.service-listing__services-elem {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 105px;
}
.service-listing__text {
    max-width: 720px;
}
.service-listing__text-title {
    font-family: 'Fiorello CG Condensed';
    font-weight: 400;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.service-listing__text-main {
    font-family: 'HelveticaNeueCyr';
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding-bottom: 32px;
    padding-top: 32px;
}
.service-listing__text-watch-more a {
    font-family: 'HelveticaNeueCyr';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.service-detail__wrapper-block {
    background-color: #000000;
    display: flex;
    justify-content: center;
}
.service-detail__preview-text {
    font-family: 'HelveticaNeueCyr';
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    width: 395px;
    margin-top: 32px;
}
.service-detail__content-center {
    width: 1248px;
    padding-top: 123px;
    padding-bottom: 111px;
}
.service-detail__wrapper-block-title {
    font-family: 'Fiorello CG Condensed';
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #F9F9F9;
}
.service-detail__wrapper-block-title img  {
    margin-right: 10px;
    vertical-align: 0;
}
.service-detail__wrapper-block-text {
    font-family: 'HelveticaNeueCyr';
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 100px;
}
.service-detail__wrapper {
    display: flex;
    gap: 96px;
    flex-wrap: wrap;
}
.service-detail__wrapper-column {
    width: 352px;
}
.service-detail__wrapper h2 {
    text-transform: uppercase;
}
.service-detail__big-title-white-title {
    min-width: 556px;
}
.service-detail__big-title-black-title {
    min-width: 556px;
}
.service-detail__big-title-black-title-main {
    left: 556px;
}
.service-detail__big-title {
    padding-bottom: 0;
}
.header-gray{
    background-color:  #171717;;
    margin-bottom: 0;
}
.case-studies__content {
    background-color: #171717;
    display: flex;
    justify-content: center;
}
.case-studies__content-center {
    width: 1248px;
}
.case-studies__title {
    font-family: 'Fiorello CG Condensed';
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 93px;
}
.case-studies__text {
    font-family: 'HelveticaNeueCyr';
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    width: 825px;
    margin-top: 16px;
}
.case-studies__content-center img {
    position: absolute;
}
.case-studies__content-center .sliders__rectangle-watch-more {
    padding-bottom: 96px;
}
.Our-Ethos {
    background-color: #000000;
    display: flex;
    justify-content: center;
}
.Our-Ethos__content-center {
    width: 1248px;  
}
.Our-Ethos__small-text {
    font-family: 'HelveticaNeueCyr';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #E0E0E0;
    padding-top: 64px;
    padding-bottom: 24px;
}
.Our-Ethos__text {
    font-family: 'HelveticaNeueCyr';
    font-weight: 400;
    font-size: 26px;
    line-height: 38px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding-bottom: 64px;
}
.case-study-detail__preview {
    height: 100%;
}
.case-study-detail__preview-text {
    height: 704px;
    padding-top: 241px;
}
.case-study-detail__content {
    background-color:  #171717;
    display: flex;
    justify-content: center;
}
.case-study-detail__content-center{
    width: 1248px;
}
.case-study-detail__small-title{
    padding-top: 64px;
    padding-bottom: 30px;
    font-family: 'HelveticaNeueCyr';
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.case-study-detail__content-center .case-studies__text{
    padding-bottom: 64px;
}
.case-study-detail__content-center img {
    position: absolute;
}
.case-study-detail__content-center .sliders__main {
    padding-bottom: 0;
}
/* .case-study-detail__content-center .swiper-button-prev {
    position: absolute;
    top: 94.5%;
} */
.case-study-detail__content-center-black {
    background-color: #000000;
    width: 1248px;
    display: flex;
    justify-content: center;
    margin-bottom: 96px;
}
.case-study-detail__title {
    font-family: 'Fiorello CG Condensed';
    font-weight: 400;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 64px;
    padding-bottom: 64px;
}
.case-study-detail__content-center-small {
    width: 825px;   
}
.case-study-detail__content-center-small .services-tab__wrapper-column {
    width: 248px;
}
.case-study-detail__content-center-small .services-tab__wrapper-column h2 {
    text-transform: uppercase;
}
.case-study-detail__content-center-small .services-tab__wrapper {
    gap: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.case-study-detail__content-center-small__text {
    font-family: 'HelveticaNeueCyr';
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding-bottom: 16px;
}
.case-study-detail__content-center-small__text1 {
    padding-top: 64px;
}
.case-study-detail__content-center-small h2 {
    font-family: 'Fiorello CG Condensed';
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 16px;
    padding-bottom: 16px;
}
.case-study-detail__medium-text p {
    font-family: 'HelveticaNeueCyr';
    font-weight: 400;
    font-size: 26px;
    line-height: 38px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.case-study-detail__medium-text img {
    position: static;
    margin-right: 16px;
}
.case-study-detail__medium-text {
    display: flex;
    align-items: flex-start;
    padding-top: 72px;
    padding-bottom: 24px;
}
.case-study-detail__content-center-small__text-uppercase {
    font-family: 'HelveticaNeueCyr';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-bottom: 96px;
    padding-top: 24px;
}
.article__middle-text a {
    font-family: 'Barlow Semi Condensed';
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.article__middle-text {
    padding-top: 50px;
    padding-bottom: 32px;
}
.article__middle-text img {
    margin-right: 11px;
    /* position: static; */
    vertical-align: baseline;
}
.article__small-text {
    font-family: 'HelveticaNeueCyr';
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-bottom: 24px;sliders__main
}
.article__title {
    font-family: 'Fiorello CG Condensed';
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 825px;
    padding-bottom: 64px;
}
.article__content {
    background-color: #171717;
    display: flex;
    justify-content: center;
    padding-bottom: 64px;
}
.article__content-center {
    width: 1248px;     
}
.article__video {
   height: 649px;
   display: flex;
    justify-content: center;
    align-items: center;
}
.article__video-play img{
    position: absolute;
}
.article__text-date {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
    margin-bottom: 48px;
}
.article__text-date p {
    font-family: 'HelveticaNeueCyr';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #E0E0E0;
    text-transform: uppercase;
}
.article__icon {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 125.5px;
    top: 162px;
    gap: 27px;
}
.article__content-center .case-study-detail__content-center-black {
    position: relative;
    padding-bottom: 112px;
}
.article__text {
    font-family: 'HelveticaNeueCyr';
    font-weight: 400;
    font-size: 26px;
    line-height: 38px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 24px;
    margin-top: 16px;
}
.article__content-center .case-study-detail__content-center-small__text-uppercase {
    padding-bottom: 48px;
}
.article__list-item  {
    font-family: 'HelveticaNeueCyr';
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}
.article__list-item img {
    margin-right: 8px;
}
.case-study-detail__content-center-small .swiper-button-next {
    top: 83.4%;
}
.case-study-detail__content-center-small .swiper-button-prev {
    top: 83.4%;
}
.article__big-title__white-title {
    min-width: 565px;
}
.article__big-title__black-title-main {
    left: 665px;
}
.article__back-to-text {
    font-family: 'HelveticaNeueCyr';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}
.article__back-to-text img {
    margin-right: 11px;
}
.people__service-listing__services-elem {
    padding-top: 124px;
}
.people__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding-bottom: 96px;
    justify-content: center;
}
.people__wrapper-item {
    Width: 288px;
    min-height: 456px;
    background-color:#000000;
    position: relative;
    display: block;
    position: relative;
}
.people__wrapper-item h2 {
    font-family: 'Fiorello CG Condensed';
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.people__wrapper-item p {
    font-family: 'HelveticaNeueCyr';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #E0E0E0;
}
.people__wrapper img {
    position: static;
}
.people__wrapper-title {
    margin-top: 16px;
    margin-left: 16px;
}
.people__wrapper-item-rectangle {
    width: 288px;
    height: 364px;
    position: absolute;
    top: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    visibility: hidden;
}
.people__wrapper-item-rectangle-blue {
    width: 288px;
    height: 364px;
    background: linear-gradient(#1EE0FB 18.88%, #ED16E3 92.67%);
    opacity: 0.7;
    position: absolute;
    top: 0;
}
.people__wrapper-item-rectangle-text {
    display: flex;
    align-items: center;
    justify-content: center;
}
.people__wrapper-item-rectangle-mini {
    width: 64px;
    height: 100px;
    background: #000000;
    opacity: 0.7;
    clip-path: polygon(30% 0%, 100% 0%, 70% 100%, 0% 100%);
    display: flex;
    align-items: center;
}
.people__wrapper-item-rectangle-text h2 {
    position: absolute;
}
.people__wrapper-item-rectangle-text a {
    position: absolute;
}
.people__wrapper-item:hover .people__wrapper-item-rectangle {
    visibility: visible;
}
.sliders__wrapper-item:hover .sliders__wrapper-rectangle {
    visibility: visible;
}
.people__pop-up {
    max-width: 1248px;
    height: 712px;
    background-color: #C4C4C4;
    display: flex;
    justify-content: space-between;
    position: relative;   
}
.people__pop-up-card {
    width: 416px;
    height: 712px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 49px;
}
.people__pop-up-text {
    width: 719px;
    height: 712px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 14px;
}
.people__pop-up-text-small {
    font-family: 'HelveticaNeueCyr';
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding-bottom: 40px;
    width: 641px;
}
.people__pop-up-text-name {
    font-family: 'HelveticaNeueCyr';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}  
.people__pop-up-text-contact {
    display: flex;
    gap: 27px;
}
.people__pop-up-card-main-title {
    padding-bottom: 32px;
}
.people__pop-up-card h1 {
    font-family: 'Fiorello CG Condensed';
    font-weight: 400;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.people__pop-up-card-text {
    font-family: 'HelveticaNeueCyr';
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.people__pop-up-card-title {
    font-family: 'HelveticaNeueCyr';
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding-top: 64px;
}
.modal {
    position: fixed;
    /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    /* цвет фона */
    z-index: 1050;
    opacity: 0;
    /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    /* анимация перехода */
    pointer-events: none;
    /* элемент невидим для событий мыши */
}
  /* при отображении модального окно */
.modal:target {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
  }
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
    /* align-items: center;
    display: flex; */
}
/* свойства для блока, содержащего контент модального окна */
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
    /* align-items: center; */
    background-color: rgba(0, 0, 0, 0);
}
/* свойства для кнопки "Закрыть" */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 1;
    color: #FFFFFF;
    /* text-shadow: 0 1px 0 #fff; */
    /* opacity: .5; */
    text-decoration: none;
    position: absolute;
    top: 32px;
    right: 32px;
}
  
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus,
.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}
  
/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
    position: relative;
        
}
.mobile-menu {
    background-color: #000000;
    display: none;
 }
 .mobile-menu-big-font a {
    font-family: 'HelveticaNeueCyr';
    font-weight: 400;
    font-size: 26px;
    line-height: 60px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
 .mobile-menu-small-font a {
    font-family: 'HelveticaNeueCyr';
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
 }
 .mobile-menu-big-font {
    padding-bottom: 66px;
    padding-top: 80px;
 }
 .big-title__main-mobile {
    display: none;
 }
 .sliders__rectangle-watch-more-mobile {
    display: none;
 }
 .footer__social-media a {
    display: flex;
    flex-direction: row;
    align-items: center;
 }
 .article__big-title__black-title {
    min-width: 665px;
 }

@media (max-width: 1300px) {
    .services-tab__wrapper {
        justify-content: space-evenly;
        gap: 50px;
    }
    .sliders__content-center {
        width: 800px;
        padding-bottom: 128px;
    }
    .sliders__rectangle {
        width: 100%;
        height: 413px;
        display: flex;
        align-items: center;
        background: linear-gradient(129.07deg, rgba(30, 224, 251, 0.8) 18.88%, rgba(237, 22, 227, 0.8) 92.67%);
        clip-path: polygon(0% 0%, 100% 0, 55% 100%, 0% 100%);
    }
    .sliders__content-center .swiper-button-next, .swiper-button-prev {
        position: absolute;
        top: 80.6%;
    }
    .sliders__content-center .swiper-button-prev {
        position: absolute;
        top: 80.6%;
    }
    .content-center {
        flex-direction: column;
        justify-content: center;
    }
    .big-title__content-center {
        padding: 15px;
        width: 95%;
    }
    .news__content-center {
        width: 800px;
    }
    .swiper-button-next, .swiper-button-prev {
        top: 85.5%;
    }
    .sliders__wrapper {
        justify-content: center;
    }
    .contact-us__content-center {
        padding-bottom: 30px;
        flex-direction: column;
    }
    .footer__content-center {
       padding: 15px;
    }
    .footer__main {
        padding-left: 50px;
    }
    .contact-us__tittle-and-text {
        padding-left: 10px;
        padding-right: 10px;
    }
    .service-listing__services-elem {
        padding: 15px;
    }
    .header {
        padding: 15px;
    }
    .service-listing__rectangle {
        margin-right: 15px;
    }
    .case-studies__content-center {
        width: 95%;
    }
    .case-studies__text {
        width: 95%;
    }
    .Our-Ethos__content-center {
        padding-left: 15px;
        padding-right: 15px;
    }
    .case-studies__content-center .sliders__rectangle-watch-more {
        text-align: center;
    }
    .case-studies__content-center .sliders__rectangle-watch-more a {
        color: #FFFFFF;
    }
    .case-study-detail__content-center {
        width: 800px;
    }
    .case-study-detail__content-center-black {
        width: 825px;
    }
    /* .case-study-detail__content-center img {
         position: static;
    } */
    .case-study-detail__content-center-small {
        padding: 16px;
    }
    .case-study-detail__content-center-small {
        width: 800px;
        padding-left: 50px;
    }
    .article__icon {
        left: 15.5px;
    }
    .article__content-center {
        width: 825px;
   }
   .swiper-button-next, .swiper-button-prev {
    top: 80.5%;
    }
    .swiper-wrapper-index-black .swiper-button-next {
        top: 86.5%;
    }
    .swiper-wrapper-index-black .swiper-button-prev {
        top: 86.5%;
    }
    .case-study-detail__content-center-small .swiper-button-next {
        top: 82%;
    }
    .case-study-detail__content-center-small .swiper-button-prev {
        top: 82%;
    }
    .people__pop-up-card {
        padding-left: 30px;
    }
}

@media (max-width: 810px) {
    .contact-us__content-center {
        padding-bottom: 0;
    }
    .header {
        display: none;
    }
    .top-bar {
         display: none;
    }
    .mobile-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu-btn {
        width: 30px;
        height: 30px;
        position: relative;
        z-index:2;
        overflow: hidden;
        margin-right: 20px;
    }
    .menu-btn span {
        width: 30px;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color:  #FFFFFF;
        transition: all 0.5s;
    }
    .menu-btn span:nth-of-type(2) {
        top: calc(50% - 6px);
    }
    .menu-btn span:nth-of-type(3) {
        top: calc(50% + 6px);
    }
    /* Меняем гамбургер иконку, когда меню открыто */
    .menu-btn.active span:nth-of-type(1) {
        display: none;
    }
    .menu-btn.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);  
    }
    .menu-btn.active span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg); 
    }
    /* Меню, которое будет появляться */
    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 30px;
        background: #000000;
        transform: translateX(-100%);
        transition: transform 0.5s; 
        z-index: 2;
    }
    .menu.active {
        transform: translateX(0);
        /* display: flex;
        justify-content: center;
        text-align: center; */
    }
    .menu li {
        list-style-type: none;
        display: flex;
        align-items: center;
        /* justify-content: center; */
    }
    .menu li.active::before {
        content: url('../img/Slash Graphic.png');
        color: #02D1FF;
        font-size: 30px;
        font-weight: bold;
        margin-left: -20px;
        margin-right: 7px;
        /* position: absolute;
        top: -7px;
        left: -15px; */
    }
    .mobile-menu__logo {
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 24px;
        z-index: 22;
    }
    .content-center {
        flex-direction: column;
    }
    .previev__rectangle {
        display: none;
    }
    .preview__title {
        font-size: 40px;
    }
    .preview__text {
        position: relative;
        width: 341px;
        padding-top: 405px;
        margin-left: 25px;
    }
    .preview {
        height: 555px;
        position: relative;
    }
    .preview__watch-more {
        margin-top: 24px;
    }
    .preview__learn-more {
        display: none;
    }
    /* .tab {
    width: 250;
        padding-left: 64px;
    } */
    .tab button {
        
        font-size: 36px;
    }
    .tab button.active::before {
        content: url(../img/Rectangle182.png);
        top: 3px;
        left: -18px;
    }
    .services-tab__rectangle-left {
        /* background: url(img/image44.png); ??????????????????? */
        width: 153px;
        height: 258px;
        margin-top: 45px;
        margin-right: -26px;
    }
    .services-tab__rectangle-right {
        width: 153px;
        height: 258px;
    }
    .tabcontent p {
        max-width: 249px;
        font-size: 26px;
    }
    .content-center {
        padding-bottom: 85px;
        display: flex;
        justify-content: center;
    }
    .tabcontent {
        min-height: 315px;
    }
    .services-tab__wrapper {
        justify-content: center;
    }
    .services-tab__wrapper {
        gap: 64px;
    }
    .big-title h1 {
        font-size: 56px;
    }
    .big-title__black-title-main {
        left: 240px;
    }
    .big-title__black-title {
        min-width: 240px;
    }
    .big-title {
        padding-left: 16px;
        align-items: flex-start;
    }
    .big-title__main {
        padding-top: 96px;
        padding-bottom: 24px;
    }
    .big-title__text {
        width: 343px;
        font-size: 26px;
    }
    .sliders__rectangle {
        width: 343px;
        height: 564px;
        display: flex;
        align-items: center;
        background:none;
        clip-path: none;
    }
    .sliders__rectangle-text {
        padding-left: 16px;
    }
    .sliders__content-center {
        width: 343px;
    }
    .sliders__rectangle-title {
        max-width: 311px;
        font-family: 'Fiorello CG Condensed';
        font-weight: 400;
        font-size: 36px;
        line-height: 36px;
        color:#000000;
    }
    .sliders__rectangle-watch-more a {
        color: #000000;
    }
    .black-rectangle-sliders {
        position: relative;
    }
    .sliders__black-rectangle {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background: #000000;
        clip-path: polygon(0% 0%, 100% 15%, 100% 100%, 0% 100%);
        margin-top: -88px;
        padding-top: 30%;
    }
    .news__content-center {
        width: 343px;
    }
    .sliders__rectangle-category {
        padding-left: 15px;
        padding-bottom: 0;
        padding-top: 0;
    }
    .sliders__rectangle-title-mobile-white {
        color: #FFFFFF;
    }
    .sliders__rectangle-watch-more-mobile a {
        color: #FFFFFF;
    }
    .sliders__rectangle-watch-more {
        padding-bottom: 21px;
    }
    .contact-us {
        align-items: flex-start;
        flex-direction: column;
        padding-bottom: 40px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .contact-us__title {
        text-align: left;
    }
    .wrapper-logo-item img {
        width: 90px; 
    }
    .wrapper-logo {
        gap: 30px;
    }
    .contact-us__tittle-and-text {
        align-items: flex-start;
        flex-direction: column; 
    }
    .contact-us__content-center {
        align-items: flex-start;
        flex-direction: column;
    }
    .contact-us__text {
        text-align: left;
        margin-left: 0;
        margin-bottom: 24px;
    }
    .contact-us__title {
        padding-bottom: 24px;
        padding-top: 40px;
    }
    .news h1 {
        font-size: 56px;
    }
    .sliders__rectangle {
        width: 100%;
    }
    .footer__main {
        padding-top: 40px;
        width: 100%;
        flex-direction: column;
    }
    .footer__logo-and-menu {
        flex-direction: column;
        padding: 16px;
    }
    .footer__social-media-mobile p {
        display:none;
    }
    .footer__main-social-media {
        display: flex;
        justify-content: flex-start;
        padding-top: 45px;
        padding-bottom: 55px;
        gap: 50px;
    }
    .sliders__rectangle-and-title p {
        font-size: 40px;
    }
    .sliders__text {
        font-size: 26px;
    }
    .footer__copyrght {
        padding-left: 18px;
    }
    .contact-us__content-center {
        width:100%;
    }
    .big-title__content-center {
        max-width: 1248px;
    }
    .swiper-wrapper-index-black .swiper-button-next  {
        position: absolute;
        top: 86%;
    }
    .swiper-wrapper-index-black .swiper-button-prev {
        position: absolute;
        top: 86%;
    }
    /* .contact-us__text {
        width: 327px;
    } */
    .mySwiperBlack img {
        position: relative;
    }
    .mySwiperBlack .sliders__rectangle {
        width: 343px;
        height: 100%;
        display: flex;
        flex-direction: column;
        background: #000000;
        clip-path: polygon(0% 0%, 100% 15%, 100% 100%, 0% 100%);
        margin-top: -66px;
        padding-top: 30%;
    }
    .mySwiperBlack .sliders__rectangle-text {
        padding-bottom: 130px;
    }
    .mySwiperBlack .swiper-button-next {
        top: 82.9%;
    }
    .mySwiperBlack .swiper-button-prev {
        top: 82.9%;
    }
    .mySwiperBlack .sliders__rectangle-title {
        color: #FFFFFF;
    }
    .mySwiperBlack .sliders__rectangle-watch-more a {
        color: #FFFFFF;
    }
    .big-title__main-mobile {
        display: flex;
        width: 95%;
        position: relative;
    }
    .h-mobile-none {
        display: none;
    }
    .big-title__black-title-main h1 {
        color: #0F0E0E;
    }
    .news {
        overflow-x: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .news__content-center {
        padding-top: 0;
    }
    .sliders__rectangle-watch-more-mobile-none {
        display: none;
    }
    .sliders__rectangle-watch-more-mobile {
        display: flex;
    }
    .previev__rectangle-service-listing {
        display: flex;
        clip-path: polygon(0% 0%, 100% 25%, 100% 100%, 0% 100%);
        width: 100%;
        height: 344px;
        top: 215px;
    }
    .preview__text-service-listing {
        padding-top: 350px;
    }
    .service-listing-text-block {
        padding-left: 15px;
        padding-right: 15px;
    }
    .service-listing__services-elem {
        flex-direction: column;
    }
    .service-listing__services-elem-mobile {
        flex-direction: column-reverse;
    }
    .service-listing__content-center {
        width: 1248px;
    }
    .service-listing__text-title {
        font-size: 36px;
        padding-top: 53px;
    }
    .service-listing-text-block__text-big {
        font-size: 26px;
    }
    .footer__main {
        padding-left: 0;
    }
    .sliders__rectangle-watch-more-white a {
        color: #FFFFFF;
    }
    /* .case-study-detail__content-center-black {
        width: 343px;
    } */
    
    .case-study-detail__content-center {
        width: 500px;
    }
   .previev__rectangle-case-detail {
        display: flex;
        clip-path: polygon(0% 0%, 100% 25%, 100% 100%, 0% 100%);
        width: 100%;
        height: 344px;
        top: 215px;
   }
   .case-study-detail__preview-text {
        padding-top: 285px;
   }
   .service-detail__preview-text {
        width: 100%;
   }
   /* .case-study-detail__title {
    padding-left: 16px;
   }
   .case-study-detail__content-center-small__text {
    padding-left: 16px;
    padding-right: 16px;
   }
   .case-study-detail__content-center-small h2 {
    padding-left: 16px;
   }
   .case-study-detail__medium-text {
    padding-left: 16px;
    padding-right: 16px;
   }
   .case-study-detail__content-center-small__text-uppercase {
    padding-left: 16px;
   } */
   .sliders__wrapper-item {
    height: 500px;
    }
    .people__pop-up-text-small {
    width: 500px;
    }
    .case-study-detail__content-center-small {
    width: 500px;
    }
    .article__title {
    width: 500px;
    }
    .case-study-detail__content-center-black {
        width: 500px;
    }
    .article__content-center {
        width: 500px;
   }
   .case-study-detail__content-center img {
    position: relative;
   }
   .case-studies__content-center img {
    position: relative;
   }
   .sliders__rectangle-watch-more-white a{
    color: #FFFFFF;
   }
   .case-study-detail__content-center-small .swiper-button-next {
    top: 73%;
    }
    .case-study-detail__content-center-small .swiper-button-prev {
        top: 73%;
    }
    .people__pop-up {
        height: 100%;
        background-color: black;
        display: flex;
        justify-content: space-between;
        position: relative;
        flex-direction: column;
        align-items: center;
    }
    .people__pop-up-text {
        align-items: center;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .case-study-detail__content-center-small .swiper-button-next {
        top: 65%;
    }
    .case-study-detail__content-center-small .swiper-button-prev {
        top: 65%;
    }
    .people__pop-up-text-small {
        width: 345px;
    }
    .case-study-detail__content-center-small {
        width: 343px;
    }
    .article__title {
        width: 343px;
    }
    .case-study-detail__content-center-black {
        width: 343px;
    }
    .article__content-center {
         width: 345px;
    }
    .case-study-detail__content-center {
        width: 343px;
    }
    
}

@media (max-width: 425px) {
   .sliders__wrapper-item {
        height: 325px;
   }
   .people__pop-up-card {
        width: 355px;
        padding-left: 15px;
   }
  
}